<header>
    <img class="logo" src="https://img.tmstor.es/peakyblinders/footer_logo.png">
    <nav>
        <ul class="navlinks">
            <li class="link"><a class="link" href="/homepage">Home</a></li>
            <li class="link"><a class="link" href="#">About</a></li>
            <li class="link"><a class="link" href="#">Contact</a></li>
            <li class="link"><a class="link" href="#">Derby</a></li>
        </ul>
    </nav>
    <div class="searchspace">
        <img class="search" src="https://www.citypng.com/public/uploads/small/11640439066gvdicej5lgzwysh67xgewiixiqsmd6phvcidruhbvrizlpwtl7qhjckdiizpl7lvj3dgyl780ezhsdo2yp6bqe8tvg7eqvaa1p6n.png"/>
    </div>
</header>   
