<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>index page</h1>
		<%- include('./partials/header.ejs') %>
        <% console.log(users[0])%>
		<% users.forEach(users => {%>
		<div>
			<a href="/homepage/<%=users._id%>">User ID</a>
            <a class="name" href="/homepage/<%=users._id%>"> 
                <% for(let i = 0;%>
                    <% 
                    <% }); %>
            </a>
		</div>
		<%})%>	
</body>
</html>